* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: #FFF4E7;
    margin-bottom: 50px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

}

.nav-container h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-menu {
    width: 30%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

ul li a {
    text-decoration: none;
    color: #727272;
    font-size: 1.01rem;
}
#hero {
    padding: 30px 10%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.hero-img img {
    width: 100%;
}

.hero-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
 
.hero-container h2 {
    font-size: 4rem;
    font-weight: bold;
}
.hero-container p{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
#normal-btn{
    background-color: #FF900E;
    color: #FFF4E7;
    border: none;
    border-radius: 5px;
    padding: 13px 20px;
}
#sponsor{
    display: flex;
    padding: 40px 13%;
    gap: 7%;
}
.sponsor-img{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 20px;
    
}
.sponsor-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: flex-start;
    align-self: center;

    
}
.sponsor-text{
    font-size: 2.5rem;
    width: 70%;
}
.sponsor-text .dark-1{
    color: #727272;
}
.sponsor-text .dark-2{
    color: #131313;
    font-weight: bolder;
}
.sponsor-text .orrange{
    color: #FF900E;
    font-weight: bold;
}
.paragraph{
    color: #727272;
    line-height: 26px;
    font-size: 16px;
    width: 100%;
}
.sponsor-container #normal-btn{
    width:fit-content;
}
.section-title{
    font-size: 3rem;
    padding-left: 20px;
    border-left: 5px solid #FF900E;
    margin-bottom: 20px;
    margin-top: 30px;
}
#feature{
    display: flex;
    margin: 50px 10%;
    gap: 100px;

}
.text-light-gray{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    font-weight: 400;
}
.feature-card{
    margin: 30px 0px;
    padding: 30px;
    box-shadow: 0 4px 30px 0px  rgb(0, 0, 0 , 0.6);
    width: 90%;
}
.feature-card .feature-title{
    font-size: 1.25rem;
    font-weight: 600;
}
#experience-bage{
    padding: 45px 42px;
    background-color: #FF900E;
    border: none;
    color: aliceblue;
    position: relative;
    top: -100px;
    right: 80px;
}
#experience-year{
    font-size: 46px;
}
#small-text{
    font-size: 15px;
}
.fact-container{
    margin: 10px 10%;

}
.fact-title{
    width: 35%;
    margin: 70px 0px;
}
.fact-title h2{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}
.fact-card{
    display: flex;
    margin: 50px 12%;
    justify-content: space-between;
    text-align: center;
    
}
.card-main{
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid #FF900E;
    border-radius: 15px;
    padding: 45px 40px;
    width: 20%;
}
.card-main h2{
    font-size: 35px;
}
#sponsor-details{
    margin: 120px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.details-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    margin: 0px 30%;
    text-align: center;
    
}
.sponsor-logo{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    filter: grayscale(100%);
}
.details-title{
    font-size: 25px;
    font-weight: bold;
}
#footer{
    margin: 0px 10% 100px;
    height: 70px;
    text-align: center;
    align-content: center;
    background-color: #FFF4E7;
    border-radius: 10px;
}
ul li a:hover{
    color: #131313;
}
#normal-btn:hover{
    background-color: white;
    color: #FF900E;
    transform: scale(1.2);
    transition: all 0.5s ease-in;
}