* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: #FFF4E7;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

}

.nav-container h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-menu {
    width: 30%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

ul li a {
    text-decoration: none;
    color: #727272;
    font-size: 1.01rem;
}

#hero {
    padding: 30px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.hero-img img {
    width: 100%;
}

.hero-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
 
.hero-container h2 {
    font-size: 4rem;
    font-weight: bold;
}
.hero-container p{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
#normal-btn{
    background-color: #FF900E;
    color: #FFF4E7;
    border: none;
    border-radius: 5px;
    padding: 13px 20px;
}